extends layout

block content

    a(
        href="/comments"
         class="btn btn-lg btn-primary btn-block"
        ): button(type="button") Comments

    a(
        href="/videos"
        class="btn btn-lg btn-primary btn-block"
        ): button(type="button") Videos

